######### Neo4J Stuff
# Ports to open Neo4J container on
NEO4J_PORTS = -p 7474:7474 -p 7687:7687

# Volume mapping for the container
NEO4J_VOLUMES = -v $$HOME/neo4j/data:/data

# Environmental variables to be passed into the container
NEO4J_ENV =

# Username and password to be used for python to connect to Neo4J (don't forget to visit the web URL once to setup initial password)
NEO4J_URL=http://localhost:7474/db/data
NEO4J_PASSWORD=

######### Twitter Stuff
# Twitter search terms to populate the graph
TWITTER_SEARCH=@capgemini OR @CapgeminiUK

# Twitter bearer token. See readme for instrucstions
TWITTER_BEARER=
