######### Neo4J Stuff
# Ports to open container on
NEO4J_PORTS = -p 7474:7474 -p 7687:7687

# Volume mapping for the container
NEO4J_VOLUMES = -v $$HOME/neo4j/data:/data

# Environmental variables to be passed into the container
NEO4J_ENV =

######### Python Stuff
# Ports to open container on
PYTHON_PORTS =

# Volume mapping for the container
PYTHON_VOLUMES =

# Environmental variables to be passed into the container
PYTHON_ENV = -e NEO4J_URL=http://***************:7474/db/data -e NEO4J_PASSWORD=*************** -e TWITTER_SEARCH=capgemini -e TWITTER_BEARER=***************

######### Web Stuff
# Ports to open container on
WEB_PORTS = -p 3000:3000

# Volume mapping for the container
WEB_VOLUMES =

# Environmental variables to be passed into the container
WEB_ENV = -e NEO4J_HOST=*************** -e NEO4J_PASSWORD=*************** -e PORT=3000
